/* global > color */
:root {
    --color-bg-primary: #524433;
    --color-bg-secondary: #efede9;
    --color-bg-black: #000;
    --color-bg-white: #fff;
    --color-border-black: #000;
    --color-border-redishblack: #707070;
    --color-border-white: #fff;
    --color-font-primary: #524433;
    --color-font-white: #fff;
    --color-font-base: #000;
}