@mixin marginTrim($bf-margin, $af-margin) {
  overflow: hidden;
  &:before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    margin-top: #{$bf-margin}px;
  }

  &:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    margin-top: #{$af-margin}px;
  }
}

@mixin lineHeightTrim($line-height) {
  overflow: hidden;
  &:before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    margin-top: calc((1 - #{$line-height}) * 0.5em);
  }

  &:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    margin-top: calc((1 - #{$line-height}) * 0.5em);
  }
}